body{
    background-color: #7FA7A6; /*mise la couleur directement pout toute la page*/
    font-family: 'Raleway', sans-serif;
}    

html{
    scroll-padding-top: 20px;
}


.left{
    text-align: start;
}

.right{
text-align: end;
}

.center{
    text-align: center;
}

.police_ordinateur{
    font-family: vt323;
}    


.anchor:target{
    padding-top: 40px;
}

.fond{ /*ce class est pour ajouter style pour chaque paragraph*/
 margin: 1% 2%;
 padding: 1%; /* MIEUX CHOISIR POUR CHAQUE MEDIA QUERY */
 background-color: #F1D8BC;
}

    
  h2 {
    background-color: #EF5F64; 
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1.5% ;
    /* comment peut-on définir un argument avec son valeur seulement pour un élément????? */
}

/* NAVBAR*/

nav{
    border: 1px dashed;
}

.navbar, .container-fluid{
    font-family: vt323;
    font-size: large;
    background-color: #EF5F64;
    font-style: black bold !important;
    padding: 1% 3% 1% 3%;
    justify-content: space-between;
    border-width: initial;
    border-color: black;
}

.nav-item{
    border-width: 1px;
    background-color: #EF5F64; /*pour avoir le coleur dans la version mobile*/
}

.salutations{
    padding-top: 45px;
 } /*container commence quand la barre est fini*/

/*COMPETENCES*/

.competences{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

/* picture > .salutations{
    margin: 3%;
    text-align: center;
} */

.project{
    margin-inline: 0;
}

/* picture .salutations> {
    height: 12vh;
} */

/*FOOTER*/
.footer{
    background-color: #FF948A;
}


label{
    font-weight: bold;
    text-align: start;
}

.mentions{
    font-size: xx-small;
    font-weight: bold;
    text-align: center;
}


/*MEDIA QUERY SMARTPHONE*/
@media only screen and (max-width: 650px){
    .police_ordinateur{
        font-size: 2.3rem;
    }

    /*SALUTATIONS*/
    h1{
        text-align: center;
        font-size: 13vw; /*la taille de la police change avec la change la "width" de l'écran*/
        
    }
    
    .salutations{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 100%; /*pour faire le container dépendent de la taille d'une image*/
        
    }
    
    .saluth1{ /*class for the header*/
        width: 100%;
        height: 10%;
        margin: 1%;
        
    }

    .metier{
        height: auto;
        font-size: 4vw;
        text-align: center;
        margin: 1%;
    }
    
    .salutations > picture{
        width: 60%;
        margin: 1%;
        } 

/* MISE EN FORME IMAGE DE PROFIL */

#myself{
    border-radius: 45px;
    border-color: black;
    border-style: inset;
    border-width: initial;
    width: 100%;
    height: auto;
    }


/* COMPETENCES */

   .competences{
       width: 100%;
       height: 80vh;
   }

    .competences > picture > img {
        max-width: 25%;  /*POUR AVOIR 3 élements dans la ligne*/
    }



/* FOOTER */
    .footer{
        text-align: center;
        padding-inline: 3%;
    }

    .contacts{
        font-size: x-large;
        margin: 3%;
    }

    .online{
        display: flex;
        font-size: xx-large;
        margin: 10%;
        justify-content: space-around;
    }

    .slider_big{
        display: none;
    }


/*FOOTER*/

    .footer >h1{
        padding-top: 0;
    }

}

/*REREGARDER LES FRONTIERS MEDIA QUERIS*/

@media only screen and (min-width: 650px) and (max-width: 1280px){

    .fond{ /* class pour tout le text*/
        font-size: 2.5vw;
    }
    
    .police_ordinateur{
        font-size: 7.5vw;
    
    }  

    .saluth1 > h1{
        font-size: 9.5vw;
        text-align: right;
    }

    /*HEADER*/

   .salutations{     /*MAIN CONTAINER*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        height: 50vw; /*on limite height pour faire le wrap possible, vw, pas vh, width pour garde la dependence*/
        width: 100%;
    }      
    .saluth1{ /*header*/
        height: 30%;
        padding: 1%;
        width: 40%;
        height: 40%;
    }

    .salut1 >h1{
        text-align: right;
    }

    .metier{
        text-align: right;
        background-color: #7FA7A6;        
        font-size: 3vw;
        text-align: center;
        align-items: center;
        margin: 1%;
        height: 30%;
        width: 40%;
    }
    

    .salutations > picture{
        height: 100%;
        width: 50%;
        padding: 1%;
        text-align: center;
    }


    /* MISE EN FORME IMAGE DE PROFIL */

    #myself{
        width: 100%;
        margin: 2%;
        border-radius: 45px;
        border-color: black;
        border-style: inset;
        border-width: initial;
        }


/* COMPETENCES */
    .competences{
        display: flex;
        flex-wrap: wrap;
        
        }

    .competences > picture{
        width: 25px;
        flex-basis: 25%;
          /*distribution d'éléments sans jeu avec height comme v. mobile*/
    }
    
    .competences > picture > img{
        height: 30%;
        ;
    }

    .slider_small{
        display: none;
    }

    /* FOOTER */

    .footer{
        padding-inline: 1.5%;
    }


    .footer > h1{
        font-size:10vw;
        text-align: center;
    }

    .footer > .metier{
        background-color: #FF948A; /*change tout cela pour class metier pour ne pas toucher html*/
        width: 100%;
        text-align: center;
    }
    
    h3{
        font-size: 5vw;
        padding-inline: 10%;
    }

    .contacts{
        font-size: 3vw;
        text-align: center;
    }

    .online{
        text-align: center;
        font-size: x-large;
    }

    .online > i{
        padding-inline: 3%;
    }

    .footer > p{
        text-align: center;
    }

    .footer > .mb-3{
        padding-inline: 1.5%;
    }
} 