body{
    background-color: #7FA7A6; /*mise la couleur directement pout toute la page*/
    font-family: 'Raleway', sans-serif;
}    

html{
    scroll-padding-top: 20px;
}


.left{
    text-align: start;
}

.right{
text-align: end;
}

.center{
    text-align: center;
}

.police_ordinateur{
    font-family: vt323;
}    


.anchor:target{
    padding-top: 40px;
}

.fond{ /*ce class est pour ajouter style pour chaque paragraph*/
 margin: 1% 2%;
padding: 1%; /* MIEUX CHOISIR POUR CHAQUE MEDIA QUERY */
 background-color: #F1D8BC;
}

    
  h2 {
    background-color: #EF5F64; 
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1.5% ;
    /* comment peut-on définir un argument avec son valeur seulement pour un élément????? */
}

/* NAVBAR*/

nav{
    border: 1px dashed;
}

.navbar, .container-fluid{
    font-family: vt323;
    font-size: large;
    background-color: #EF5F64;
    font-style: black bold !important;
    padding: 1% 3% 1% 3%;
    justify-content: space-between;
    border-width: initial;
    border-color: black;
}

.nav-item{
    border-width: 1px;
    background-color: #EF5F64; /*pour avoir le coleur dans la version mobile*/
}

/*COMPETENCES*/

.competences{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

picture{
    margin: 3%;
    text-align: center;
}

.project{
    margin-inline: 0;
}

picture > img{
    height: 12vh;
}

/*FOOTER*/
.footer{
    background-color: #FF948A;
}


label{
    font-weight: bold;
    text-align: start;
}

.mentions{
    font-size: xx-small;
    font-weight: bold;
    text-align: center;
}


/*MEDIA QUERY SMARTPHONE*/
@media only screen and (max-width: 650px){
    .police_ordinateur{
        font-size: 2.3rem;
    }

    /*SALUTATIONS*/
    h1{
        font-size: 15vw;
        padding-top: 50px;
        text-align: center;
    }
    
    .salutations{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }


    .metier{
        min-width: 35%;
        font-size: 5vw;
        text-align: center;
    }

    

/* MISE EN FORME IMAGE DE PROFIL */

    #myself{
        width: 45%;
        margin: 2%;
        border-radius: 45px;
        border-color: black;
        border-style: inset;
        border-width: initial;
    }

/* COMPETENCES */

    picture{
        min-width: 25%;  /*POUR AVOIR 3 élements dans la ligne*/
    }

/* FOOTER */
    .footer{
        text-align: center;
        padding-inline: 3%;
    }

    .contacts{
        font-size: x-large;
        margin: 3%;
    }

    .online{
        display: flex;
        font-size: xx-large;
        margin: 10%;
        justify-content: space-around;
    }

    .slider_big{
        display: none;
    }


/*FOOTER*/

    .footer >h1{
        padding-top: 0;
    }

}

@media only screen and (min-width: 650px) and (max-width: 1280px){

    .fond{
        font-size: 2.5vw;
    }
    
    h2, .hello{
        font-size: 5vw;
        padding-bottom: 0;
    }

    .hello{
        text-align: center;
        align-self: center;
    }

    .police_ordinateur{
        font-size: 2.3rem;
    }


    /*HEADER*/

   .salutations{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 420px;
        padding-top: 50px;
    }  
    .salutations > h1{
        font-size: 10vw;
        width: 50%;
        text-align: right;
        padding-left: 3%;
        min-height: 45%;
    }

    .metier{
        min-height: 45%;
        font-size: 4.5vw;
        text-align: right;
        background-color: #7FA7A6;
        width: 50%;
    }


    /* MISE EN FORME IMAGE DE PROFIL */

    #myself{
        width: 45%;
        margin: 2%;
        border-radius: 45px;
        border-color: black;
        border-style: inset;
        border-width: initial;
        min-height: 45%;
    }


/* COMPETENCES */
    .competence{
        display: flex;
        flex-wrap: wrap;
        }

    picture{
        flex-basis: 25%;  /*distribution d'éléments sans jeu avec height comme v. mobile*/
    }

    .slider_small{
        display: none;
    }

    /* FOOTER */

    .footer{
        padding-inline: 1.5%;
    }


    .footer > h1{
        font-size:10vw;
        text-align: center;
    }

    .footer > .metier{
        background-color: #FF948A; /*change tout cela pour class metier pour ne pas toucher html*/
        width: 100%;
        text-align: center;
    }
    
    h3{
        font-size: 5vw;
        padding-inline: 10%;
    }

    .contacts{
        font-size: 3vw;
        text-align: center;
    }

    .online{
        text-align: center;
        font-size: x-large;
    }

    .online > i{
        padding-inline: 3%;
    }

    .footer > p{
        text-align: center;
    }

    .footer > .mb-3{
        padding-inline: 1.5%;
    }
} 