body{
    background-color: #7FA7A6; /*mise la couleur directement pout toute la page*/
    font-family: raleway medium;
}    

html{
    scroll-padding-top: 20px;
}
/* 
#home_anch{
    scroll-padding-top: 70px;
} */

.left{
    text-align: start;
}

.right{
text-align: end;
}

.police_ordinateur{
    font-family: vt323;
}    


.anchor:target{
    padding-top: 40px;
}

.fond{ /*ce class est pour ajouter style pour chaque paragraph*/
 margin: 1% 2%;
padding: 1%; /* MIEUX CHOISIR POUR CHAQUE MEDIA QUERY */
 background-color: #F1D8BC;
}

    
  h2 {
    background-color: #EF5F64; 
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    /* comment peut-on définir un argument avec son valeur seulement pour un élément????? */
}

/* NAVBAR*/

nav{
    border: 1px dashed;
}

.navbar, .container-fluid{
    font-family: vt323;
    font-size: large;
    background-color: #EF5F64;
    font-style: black bold !important;
    padding: 1% 3% 1% 3%;
    justify-content: space-between;
    border-width: initial;
    border-color: black;
}

.nav-item{
    border-width: 1px;
    background-color: #EF5F64; /*pour avoir le coleur dans la version mobile*/
}

/* SALUTATIONS */
.salutations{
    font-family: raleway medium;
    }

/*COMPETENCES*/
.competences{
display:flex;
flex-wrap: wrap;
justify-content: space-around;
}

.competences{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

picture{
    margin: 3%;
    text-align: center;
}

picture > img{
    height: 12vh;
}

/*FOOTER*/
.footer{
    background-color: #FF948A;
}

/*MEDIA QUERY SMARTPHONE*/
@media only screen and (max-width: 650px){
    .police_ordinateur{
        font-size: 2.3rem;
    }

    .header_big{

        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        }  

    /*SALUTATIONS*/
    h1{
        font-size: 15vw;
        padding-top: 50px;
        text-align: center;
    }
    
    .salutations{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }


    .metier{
        min-width: 45%;
        font-size: 5vw;
        text-align: center;
    }

/* MISE EN FORME IMAGE DE PROFIL */

    #myself{
        width: 45%;
        margin: 2%;
        border-radius: 45px;
        border-color: black;
        border-style: inset;
        border-width: initial;
    }

    .footer{
        text-align: center;
        padding-inline: 3%;
    }

    .contacts{
        font-size: x-large;
        margin: 3%;
    }

    .online{
        display: flex;
        font-size: xx-large;
        margin: 10%;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 650px) and (max-width: 1280px){
 .header_big{

display:flex;
flex-wrap: wrap; /*à refaire ici*/
}  

h1{
        font-size: 5vw;
        width: 50%;
        padding-top: 50px;
        text-align: left;
        padding-left: 3%;
    }
    /* MISE EN FORME IMAGE DE PROFIL */

    #myself{
        width: 45%;
        margin: 2%;
        border-radius: 45px;
        border-color: black;
        border-style: inset;
        border-width: initial;
    }
    .metier{
        min-width: 45%;
        font-size: 2.5vw;
        text-align: center;
        background-color: #7FA7A6;
    }
} 